<% include header %>
    <div class="login">
        <div class="login-content">
            <h3>登录</h3>
            <input type="text" name="login-username" class="username" placeholder="请输入用户名"/>
            <input type="text" name="login-password" class="password" placeholder="请输入密码"/>
            <button id="login">登录</button>
        </div>
    </div>
<% include footer %>