<% include header %>
    <div class="post">
        <div class="post-content">
            <label for="blog-title">标题</label><br/>
            <input type="text" id="blog-title"/>
            <div class="tag-content">
                <label for="">标签</label><br/>
                <input type="text" id="tag1" class="tags"/><input type="text" id="tag2" class="tags"/><input type="text" id="tag3" class="tags"/>
            </div>
            <div class="blog-text">
                <label for="">正文</label><br/>
                <textarea name='post' cols='80' rows='15' id="blog"></textarea>
            </div>
            <div id="post">发表</div>
        </div>
    </div>
<% include footer %>