<% include header %>
    <div class="register">
        <div class="login-content">
            <h3>注册</h3>
            <input type="text" name="reg-username" class="username" placeholder="请输入用户名"/>
            <input type="password" name="reg-password" class="password" placeholder="请输入密码"/>
            <input type="password" name="repeat-pwd" class="repeat-pwd" placeholder="请确认密码"/>
            <button id="register">注册</button>
        </div>
    </div>
<% include footer %>