<% include header %>
<div class="tags-warp">
<% posts.forEach(function (post, index) { %>
    <% if (index < 10) {%>
        <div class="tags_<%=index%> _tag"><a href="/tags/<%=post%>"><%=post%></a></div>
    <% } %>
<% }) %>
</div>
<% include footer %>